<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="PointsEntities" connectionString="metadata=res://*/POINT.MODEL.csdl|res://*/POINT.MODEL.ssdl|res://*/POINT.MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SKOCHETKOV\SQLEXPRESS;initial catalog=Points;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PointsEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SKOCHETKOV\SQLEXPRESS;initial catalog=Points;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>